table {
    background-color: grey;
}

#s {
    background-color: yellow;
}

#a {
    background-color: blue;
}

#c {
    background-color: red;
}

#l {
    background-color: aqua;
}

#h {
    background-color: green;
}

#e {
    background-color: purple;
}

#steam {
    background-color: aquamarine;
}